* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sekce Body */
body{
    background-color: #1e1e24;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Konec sekce body */

/* Sekce Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    font-family: sans-serif;
    background-image: url("img/header-background.jpg");
    background-size: cover;
}

header h1 {
    text-align: center;
    font-size: 5rem;
    color: #fff;    
}
/* Konec sekce Header */

main {
    background-color: #1e1e24;
    color: #fff;
    font-family: sans-serif;
    width: 100%;
}

/* Sekce About me */

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding: 25px 50px;
}

.about-me h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b8b8b8;
}

/* Konec sekce About me */

/* Sekce Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1e1e24;
    margin-bottom: 10px;
}

.copyright {
    display: flex;
    width: 75%;
    padding: 20px;
    background-color: #57575c;
    border-radius: 25px;
}

footer .copyright p {
    margin: auto;
    font-size: 1.5rem;
    color: #b8b8b8;
}
/* Konec sekce Footer */